body {
  background: url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
}
main {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  gap: 60px;
  margin-top: 20px;
}
.shopping-tours,
.sightseeing-tours,
.food-tours,
.bars-nightlife,
.art-architecture,
.walking-tours {
  width: 300px;
  height: 220px;
}
.shopping-tours-img {
  display: block;
  background-image: url("../img/shopping-tour.png");
  width: 300px;
  height: 220px;
}
.shopping-tours-text,
.sightseeing-tours-text,
.food-tours-text,
.bars-nightlife-text,
.art-architecture-text,
.walking-tours-text {
  display: none;
  width: 300px;
  height: 55px;
  background-color: #f26522;
  position: relative;
  top: 165px;
  color: white;
}
a:hover .shopping-tours-text,
a:hover .sightseeing-tours-text,
a:hover .food-tours-text,
a:hover .bars-nightlife-text,
a:hover .art-architecture-text,
a:hover .walking-tours-text {
  display: inline-block;
}
a:hover .shopping-tours-title,
a:hover .sightseeing-tours-title,
a:hover .food-tours-title,
a:hover .bars-nightlife-title,
a:hover .art-architecture-title,
a:hover .walking-tours-title {
  color: #f26522;
}
.shopping-tours-title,
.sightseeing-tours-title,
.food-tours-title,
.bars-nightlife-title,
.art-architecture-title,
.walking-tours-title {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.sightseeing-tours-img {
  display: block;
  background-image: url("../img/sightseeing-tours.png");
  width: 300px;
  height: 220px;
}
.food-tours-img {
  display: block;
  background-image: url("../img/food-tours.png");
  width: 300px;
  height: 220px;
}
.bars-nightlife-img {
  display: block;
  background-image: url("../img/bars.png");
  width: 300px;
  height: 220px;
}
.art-architecture-img {
  display: block;
  background-image: url("../img/art.png");
  width: 300px;
  height: 220px;
}
.walking-tours-img {
  display: block;
  background-image: url("../img/walking-tours.png");
  width: 300px;
  height: 220px;
}
footer p {
  color: #ffffff;
  margin-top: 90px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}

a:hover {
  color: #f26522;
}
.header-elements {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.logo {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 700;
  color: #ffffff;
  margin-left: 3%;
}
.milan {
  font-size: 29px;
}
.holidays {
  font-size: 19px;
}
.telephone {
  margin-top: 15px;
}
.logo {
  background: url("../img/logo.svg") 0 center/50px no-repeat;
  padding-left: 52px;
  line-height: 25px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items:end;
}
.left-zone{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    
}
.start-price{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 10px;
}
.fixed-price{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
}
.details-tour::after{
content: url("../img/Vector.png");
margin-left: 13px;
}
.details-tour{
    margin-right:26px;
}